#include "windows.h"
#include "freeverb.h"

1000 DIALOGEX 0, 0, 132, 170
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS_FX Freeverb test"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    PUSHBUTTON      "click here to open a file && play it...",ID_OPEN,0,0,132,20
    CONTROL         "Freeverb",IDC_CHKFRB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,24,120,10
    CONTROL         "Slider1",IDC_DRYMIX,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,42,36,90,12
    CONTROL         "Slider1",IDC_WETMIX,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,42,54,90,12
    CONTROL         "Slider1",IDC_ROOMSIZE,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,42,73,90,12
    CONTROL         "Slider1",IDC_DAMP,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,42,91,90,12
    CONTROL         "Slider1",IDC_WIDTH,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,42,108,90,12
    CONTROL         "",IDC_CHKMODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,42,126,9,10
    CTEXT           "DryMix",IDC_STATIC,6,38,30,8
    CTEXT           "WetMix",IDC_STATIC,6,56,30,8
    CTEXT           "Room Size",IDC_STATIC,6,75,36,8
    CTEXT           "Damp",IDC_STATIC,6,93,31,8
    CTEXT           "Width",IDC_STATIC,6,110,31,8
    CTEXT           "Freeze",IDC_STATIC,6,128,31,8
    CTEXT           "Channels",IDC_STATIC,6,144,31,8
    CONTROL         "1",IDC_CHKCHAN1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,42,144,18,10
    CONTROL         "2",IDC_CHKCHAN2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,60,144,18,10
    CONTROL         "3",IDC_CHKCHAN3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,78,144,18,10
    CONTROL         "4",IDC_CHKCHAN4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,144,18,10
    CONTROL         "5",IDC_CHKCHAN5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,114,144,18,10
    CONTROL         "6",IDC_CHKCHAN6,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,42,156,18,10
    CONTROL         "7",IDC_CHKCHAN7,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,60,156,18,10
    CONTROL         "8",IDC_CHKCHAN8,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,78,156,18,10
END
